{% extends 'tasks/base.html' %}

{% block content %}
<div class="bg-orange-100 min-h-screen flex items-center justify-center">
    <form method="post" class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
        {% csrf_token %}
        <h2 class="text-2xl font-semibold mb-6">Password Reset Confirm</h2>
        
        {% for field in form %}
            <div class="mb-4">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <small class="text-red-500">{{ field.errors|striptags }}</small>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="mt-6">
            <button type="submit" class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600 focus:outline-none">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}
